
body{
	position: absolute;
	padding: 0px;
	height: 100%;
	min-width: 1280px;
	background-color: #CCFFFF;
}

#top{

	margin-bottom: 5px;
	margin-top: -5px;
	position: relative;
	position: fixed;
	z-index: 1;
	height: 200px;
	min-width: 1280px;
	
}

#logo{
	/*margin: 5px;*/
	position: relative;
	float: left;
	display: inline-block;
	height: calc(200px - 20px);
	padding: 10px;
	width: calc(250px - 30px);
	margin-right: 5px;
	margin-left: 5px;
  	background-color: #B8B8E6;	
  	border-radius: 15px;

}

#logo img{
	margin-left: 10%;
	max-height: 100%;
	max-width: 100%;
}

#head{
	/*margin: 5px;*/
	position: relative;
	float: right;
	display: inline-block;
	background-color: #A3A3CC;
	
	height: calc(100% - 20px);
	padding: 10px;
	min-width: calc(100% - 250px - 30px);
	margin-right: 5px;
	margin-left: 5px;

	border-radius: 15px;
}

#navbarTop{
	bottom: -90px;
	text-align: center;
	position: relative;
	height: auto;
	width: auto;
}

#navbarTop li{
	display: inline;
	background-color: red;
	border-radius: 5px;
	border: dotted black 1px;
}

#intro{
	margin-top: 50px;
	text-align: center;
	color: grey;
	font-family: Impact;
	font-size: 40px;

}

#mid {

	position: relative;
	width: 100%;
	margin-top: 210px;
	z-index: 0;
	min-height: 90% !important;
}

.standartText{
		font-family: courier;
		font-size: 15px;
}
#bottom {
	clear: both;
	position: relative;
	z-index: 1;
	padding: 5px;
	height: 10%;
	width: calc(100% - 10px);
}

#navbarLeft{
	font-size: 20px;
	text-align: center;	
	display: inline-block;
	background-color: #CCFF99;
	min-height: 1000px;
	padding: 10px;
	width: calc(250px - 30px);
	margin-right: 5px;
	margin-left: 5px;
	float: left;

	border-radius: 15px;
}

#navList{
	list-style: none;
}
#main{
	display: inline-block;
	background-color: #FFCC99;
	float: right;
	
	height: calc(100% - 20px);
	border-radius: 15px;
	padding: 10px;
	width: calc(100% - 250px - 30px);
	margin-right: 5px;
	margin-left: 5px;
	min-height: 1000px;
}



#bottomContent{

	background-color: #5CB8E6;
	margin-top: 2.5px;
	margin-bottom: 5px;
	min-height: calc(100% - 25px);
	padding: 10px;
	width: calc(100% - 20px);	
	z-index: 1;
	border-radius: 10px;
}

.active{
	text-decoration: none;
}

.navbarLink{
	text-decoration: none;
	font-family: Tahoma, Geneva, sans-serif;

}

.navbarLink:link{
	font-family: Impact;
	color: green;
}
.navbarLink:visited{
	font-family: cursive;
	color: navy;
}

.navbarLink:hover{
	font-family: cursive;
	color: brown;
}



.currentLink{
	font-family: Tahoma;
	color: orange;
}

h1{
	margin: 10px;
	font-family: cursive;
	font-size: 10px;
}

h2{
	margin: 10px;
	font-family: cursive;
	font-size: 20px;
}

h3{
	margin: 10px;
	font-family: cursive;
	font-size: 30px;
}


h4{
	margin: 10px;
	font-family: cursive;
	font-size: 40px;
}

h5{
	margin: 10px;
	font-family: cursive;
	font-size: 50px;
}

h6{
	margin: 10px;
	font-family: cursive;
	font-size: 60px;
}
.linksDiv {
	font-size: 15px;
	padding: 20px;
}

.contactsDiv {
	font-size: 15px;
	padding: 20px;
}

.linksDiv ul{
	list-style-type: square;
}

.linksDiv a:link{	
	color: red;
}

.linksDiv a:visited{	
	color: yellow 	;
}

.linksDiv a:hover{	
	color: green;
}

 #map_canvas {
        width: 500px;
        height: 400px;
          background-color: #CCC;

 }

.otherText{
	font-family: cursive;
}

.shareList ul{
	list-style: none;
	text-align: center;
	position: relative;
	height: auto;
	width: auto;
}

.shareList li{
	max-width: 30%;	
	display: inline;
}




