
h6{
	margin: 10px;
	font-family: Century Gothic, Helvetica;
	font-size: 10px;
}

h5{
	margin: 10px;
	font-family: Century Gothic, Helvetica;
	font-size: 20px;
}

h4{
	margin: 10px;
	font-family: Century Gothic, Helvetica;
	font-size: 30px;
}


h3{
	margin: 10px;
	font-family: Century Gothic, Helvetica;
	font-size: 40px;
}

h2{
	margin: 10px;
	font-family: Century Gothic, Helvetica;
	font-size: 50px;
}

h1{
	margin: 10px;
	font-family: Century Gothic, Helvetica;
	font-size: 60px;
}

strong, b 
{
  font-weight: bold;
}

em, i 
{
  font-style: italic;
}

ul>li{
	list-style: circle;
	padding: 5px;
	margin: 15px;
}

body{
	position: absolute;
	padding: 0px;
	height: 100%;
	min-width: 100%;
	height: 100%;
	background-color: #CCFFFF;
}

#top{

	margin-bottom: 5px;
	margin-top: -5px;
	position: relative;
	position: fixed;
	z-index: 1;
	height: 200px;
	min-width: 100%;
	
}

#logo{
	/*margin: 5px;*/
	position: relative;
	float: left;
	display: inline-block;
	height: calc(200px - 20px);
	padding: 10px;
	width: calc(250px - 30px);
	margin-right: 5px;
	margin-left: 5px;
  	background-color: #B8B8E6;	
  	border-radius: 15px;

}

#logo img{
	margin-left: 10%;
	max-height: 100%;
	max-width: 100%;
}

#head{
	/*margin: 5px;*/
	position: relative;
	float: right;
	display: inline-block;
	background-color: #A3A3CC;
	
	height: calc(100% - 20px);
	padding: 10px;
	width: calc(100% - 250px - 30px);
	margin-right: 5px;
	margin-left: 5px;

	border-radius: 15px;
}

#navbarTop{
	bottom: -90px;
	text-align: center;
	position: relative;
	height: auto;
	width: auto;
}

#navbarTop li{
	display: inline;
	background-color: red;
	border-radius: 5px;
	border: dotted black 1px;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#intro{
	margin-top: 50px;
	text-align: center;
	color: grey;
	font-family: Impact;
	font-size: 40px;

}

#mid {

	position: relative;
	width: 100%;
	margin-top: 210px;
	z-index: 0;
	min-height: 90% !important;
}

.standartText{
		font-family: serif;
		font-size: 15px;
}
#bottom {
	clear: both;
	position: relative;
	z-index: 2;
	padding: 5px;
	height: 10%;
	width: calc(100% - 10px);
}

#navbarLeft{
	font-size: 20px;
	text-align: center;	
	display: inline-block;
	background-color: #CCFF99;
	min-height: 1000px;
	padding: 10px;
	width: calc(250px - 30px);
	margin-right: 5px;
	margin-left: 5px;
	float: left;

	border-radius: 15px;
}


#navList{
	list-style: none;
}

#navList li{
	list-style: none;
	padding: 0px;

	margin: 0px;
}

#navbarLeft #navList li{
		padding-top: 5px;
	padding-bottom: 5px;

}
#main{
	display: inline-block;
	background-color: #FFCC99;
	float: right;
	
	height: calc(100% - 20px);
	border-radius: 15px;
	padding: 10px;
	width: calc(100% - 250px - 30px);
	margin-right: 5px;
	margin-left: 5px;
	min-height: 1000px;
}



#bottomContent{

	background-color: #5CB8E6;
	margin-top: 2.5px;
	margin-bottom: 5px;
	min-height: calc(100% - 25px);
	padding: 10px;
	width: calc(100% - 20px);	
	z-index: 1;
	border-radius: 10px;
}

.active{
	text-decoration: none;
}

.navbarLink{
	text-decoration: none;
	font-family: Helvetica;

}

.navbarLink:link{
	font-family: Helvetica;
	color: green;
}
.navbarLink:visited{
	font-family: cursive;
	color: navy;
}

.navbarLink:hover{
	font-family: cursive;
	color: brown;
}



.currentLink{
	font-family: Tahoma;
	color: orange;
}


.linksDiv {
}

.contactsDiv {
	font-size: 15px;
	padding: 20px;
}

.linksDiv ul li{
	list-style-type: square;
}

.linksDiv a:link{	
	color: red;
}

.linksDiv a:visited{	
	color: yellow 	;
}

.linksDiv a:hover{	
	color: green;
}

 #map_canvas {
        width: 500px;
        height: 400px;
          background-color: #CCC;

 }

.otherText{
	font-family: cursive;
}

.shareList ul{
	list-style: none;
	text-align: center;
	position: relative;
	height: auto;
	width: auto;
}

.shareList li{
	max-width: 30%;	
	display: inline;
}

.slideshowColumn{
	margin-left: 100px;
}

.videoColumn{
	margin-left: 200px;
}

.videoRow{
	padding: 40px;
}

.videoLink{
	font-family: Garamond;
	text-decoration: none;
}

.videoLink:link{
	color: red;
}

.videoLink:hover{
	color: green;
}

.videoLink:visited{
	color: orange;
}

#slideshow img {
    max-width:600px;
    max-height:600px;
}

#slideshow { 
	background-color: yellow;
    margin: 50px auto; 
    position: relative; 
    width: 600px; 
    height: 500px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

.slideComment{
	font-family: Helvetica;
}








